* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background-color: blueviolet;
}

.header {
  font-size: 40px;
  text-align: center;
}

#array {
  background-color: lightblue;
  height: 435px;
  width: 1600px;
  margin: auto;
  position: relative;
  margin-top: 64px;
}

.block {
  width: 20px;
  background-color: yellow;
  position: absolute;
  bottom: 0px;
  transition: 0.2s all ease;
}

.block_id {
  position: absolute;
  color: black;
  margin-top: -20px;
  width: 100%;
  text-align: center;
}
#myModal {
  font-size: large;
}
